$font-size: 19px;
$font-stack: "Oswald", "Raleway", "Helvetica Neue", "Helvetica", "Tahoma", "Verdana", sans-serif;
$primary-color: black;
$background: white;
$headings-color: black;
$text-color: #808080;
$line-height: 1.5;
$mq-small: "screen and (min-width: 350px)";
$mq-medium: "screen and (min-width: 700px)";
$mq-large: "screen and (min-width: 1000px)";
$container-width: 700px;
$container-max-width: 90%;
